<!DOCTYPE html>
<html>

<head>
  <title>FirstApp</title>
  <%=s tylesheet_link_tag "application", media: "all", "data-turbolinks-track"=> true %>
    <%=j avascript_include_tag "application", "data-turbolinks-track"=> true %>
      <%=c srf_meta_tags %>
</head>

<body>

  <%=y ield %>

</body>

</html>